nav {
	width: 100vw;
	background-color: white;
	box-shadow: #bbb 3px 3px 10px;
	position: sticky;
	top: 0px;
}
.image-wrapper {
	background-color: magenta;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.history img {
	width: 80%;
}
